In [9]:
import pandas as pd
from sklearn import metrics
import numpy as np

In [10]:
input = pd.read_excel('Advertising.xlsx')

In [11]:
input.head()

      TV  Radio  Newspaper      Area Prod_type  Sales
0  230.1   37.8       69.2  suburban     Basic   38.0
1   44.5   39.3       45.1     rural    Higher   10.4
2   17.2   45.9       69.3     rural    Medium    9.3
3  151.5   41.3       58.5  suburban    Medium   18.5
4  180.8   10.8       58.4  suburban    Higher   12.9

In [17]:
input.isnull().sum()

TV           0
Radio        0
Newspaper    0
Area         0
Prod_type    0
Sales        0
dtype: int64

In [13]:
# impute the missing values with mean
input.Radio.fillna(input.Radio.mean(), inplace=True)

In [16]:
input.Newspaper.fillna(input.Newspaper.mean(), inplace=True)

In [19]:
input_data = pd.get_dummies(input ,columns = ['Area','Prod_type'])

In [20]:
input_data.head()

,TV,Radio,Newspaper,Sales,Area_rural,Area_suburban,Area_urban,Prod_type_Basic,Prod_type_Higher,Prod_type_Medium
0,230.1,37.8,69.2,38.0,0,1,0,1,0,0
1,44.5,39.3,45.1,10.4,1,0,0,0,1,0
2,17.2,45.9,69.3,9.3,1,0,0,0,0,1
3,151.5,41.3,58.5,18.5,0,1,0,0,0,1
4,180.8,10.8,58.4,12.9,0,1,0,0,1,0

In [21]:
input_data.describe()

,TV,Radio,Newspaper,Sales,Area_rural,Area_suburban,Area_urban,Prod_type_Basic,Prod_type_Higher,Prod_type_Medium
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,149.635500,23.462626,30.621717,15.591500,0.475000,0.415000,0.110000,0.350000,0.350000,0.300000
std,97.035865,14.713250,21.768115,8.332438,0.500628,0.493958,0.313675,0.478167,0.478167,0.459408
min,0.700000,0.000000,0.300000,1.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.375000,10.475000,12.750000,10.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,149.750000,23.462626,26.300000,13.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,218.825000,36.525000,45.100000,18.925000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,800.000000,49.600000,114.000000,52.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
x = input_data.drop('Sales',axis =1)
y = input_data['Sales']

In [29]:
y.head()

0    38.0
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [32]:
x.head()

,TV,Radio,Newspaper,Area_rural,Area_suburban,Area_urban,Prod_type_Basic,Prod_type_Higher,Prod_type_Medium
0,230.1,37.8,69.2,0,1,0,1,0,0
1,44.5,39.3,45.1,1,0,0,0,1,0
2,17.2,45.9,69.3,1,0,0,0,0,1
3,151.5,41.3,58.5,0,1,0,0,0,1
4,180.8,10.8,58.4,0,1,0,0,1,0

In [33]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=42)

In [37]:
from sklearn.tree import DecisionTreeRegressor 
DC = DecisionTreeRegressor()

In [38]:
model = DC.fit(x_train,y_train)

In [42]:
y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

In [49]:
print('train error',np.sqrt(metrics.mean_squared_error(y_test,y_test_pred)))
print('test error',np.sqrt(metrics.mean_squared_error(y_train,y_train_pred)))

train error 5.353923794750911
test error 0.0

In [51]:
y_null = metrics.

AttributeError: module 'sklearn.metrics' has no attribute 'mean'